/* Charka Petch */
@font-face {
    font-family: "Chakra Petch";
    src: url("./Chakra Petch/ChakraPetch-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Chakra Petch";
    src: url("./Chakra Petch/ChakraPetch-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Chakra Petch";
    src: url("./Chakra Petch/ChakraPetch-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Chakra Petch";
    src: url("./Chakra Petch/ChakraPetch-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Chakra Petch";
    src: url("./Chakra Petch/ChakraPetch-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Chakra Petch";
    src: url("./Chakra Petch/ChakraPetch-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Chakra Petch";
    src: url("./Chakra Petch/ChakraPetch-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Chakra Petch";
    src: url("./Chakra Petch/ChakraPetch-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Chakra Petch";
    src: url("./Chakra Petch/ChakraPetch-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Chakra Petch";
    src: url("./Chakra Petch/ChakraPetch-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

/* IBM Plex Mono */
@font-face {
    font-family: "IBM Plex Mono";
    src: url("./IBM Plex Mono/IBMPlexMono-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./IBM Plex Mono/IBMPlexMono-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./IBM Plex Mono/IBMPlexMono-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./IBM Plex Mono/IBMPlexMono-ExtraLightItalic.ttf")
        format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./IBM Plex Mono/IBMPlexMono-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./IBM Plex Mono/IBMPlexMono-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./IBM Plex Mono/IBMPlexMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./IBM Plex Mono/IBMPlexMono-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./IBM Plex Mono/IBMPlexMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./IBM Plex Mono/IBMPlexMono-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./IBM Plex Mono/IBMPlexMono-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./IBM Plex Mono/IBMPlexMono-SemiBoldItalic.ttf")
        format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./IBM Plex Mono/IBMPlexMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./IBM Plex Mono/IBMPlexMono-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}
